---
import BaseHead from "../../components/BaseHead.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "src/layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<BaseLayout title="Blog">
  <h1>Blog</h1>
  <div class="container h-screen">
    <h1>Blog</h1>
    {
      posts.map((post, index) => {
        // const href = post.slug ? `/blog/${post.slug.split("/").pop().split(".").shift()}` : "";

        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <FormattedDate date={post.data.pubDate} />
              <h2>
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              </h2>
              <p>{post.data.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">— {post.data.publishDate}</span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
  <!-- <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul> -->
  <p>
    You can find my writings on{" "}
    <a
      href="https://www.linkedin.com/in/rami--maalouf/recent-activity/articles/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      LinkedIn
    </a>{" "}
    or on{" "}
    <a
      href="https://medium.com/@ramimaalouf"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      Medium
    </a>
    where I share the things I learn through my life experiences and{" "}
    the things I build (like this website or other projects you can find on{" "}
    <a
      href="https://github.com/psycho-baller"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      GitHub
    </a>
    ).
  </p>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li :global(time) {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
