---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";
import ArticlePreview from "@components/blog/ArticlePreview";
import PageWithTitleAndIntro from "src/layouts/PageWithTitleAndIntro.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
type Props = CollectionEntry<"blog">;
const title = "Rami's Blog";
---

<BaseLayout title={title}>
  <PageWithTitleAndIntro
    title={title}
    intro="I write about the things I learn through my life experiences and the things I build (like this website or other projects you can find on GitHub)."
  >
    <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
      <div class="flex max-w-3xl flex-col gap-y-16">
        {
          posts.map((post) => (
            <ArticlePreview
              client:visible
              post={post}
            />
          ))
        }
      </div>
    </div>
    <!-- <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul> -->
    <!-- <p>
    You can find my writings on{" "}
    <a
      href="https://www.linkedin.com/in/rami--maalouf/recent-activity/articles/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      LinkedIn
    </a>{" "}
    or on{" "}
    <a
      href="https://medium.com/@ramimaalouf"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      Medium
    </a>
    where I share the things I learn through my life experiences and{" "}
    the things I build (like this website or other projects you can find on{" "}
    <a
      href={externalLinks.github}
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      GitHub
    </a>
    ).
  </p> -->
  </PageWithTitleAndIntro>

  <style>
    ul {
      list-style-type: none;
      padding: unset;
    }
    ul li {
      display: flex;
    }
    ul li :global(time) {
      flex: 0 0 130px;
      font-style: italic;
      color: #595959;
    }
    ul li a:visited {
      color: #8e32dc;
    }
    h2,
    .post-item-footer {
      font-family: var(--font-family-sans);
      font-weight: 700;
    }

    .post-item-date {
      color: var(--text-secondary);
      text-align: left;
      text-transform: uppercase;
      margin-right: 16px;
    }

    hr {
      margin: 60px auto;
    }
  </style>
</BaseLayout>
